body {
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    font-size: 1.5em;
    color: #222;
    margin: 4em 0;
}
h1 {
    font-size: 2em;
    font-weight: 400;
    text-align: center;
}
h2 {
    font-size: 1.5em;
    font-weight: 400;
    margin: 1em 0;
}
h3 {
    font-size: 1.2em;
    font-weight: 400;
    margin: 2em 0 0.5em 0;

}
h4 {
    font-size: 1em;
    font-weight: 400;
    margin: 2em 0 0.5em 0;
}

.glyphicon.big, .fa.big {
    font-size: 9em;
    top: 10px;
}
.glyphicon.blue, .fa.blue {
    color: #0074D9
}

.glyphicon.gray, .fa.gray{
    color:#4E6F8C;
}

.glyphicon.dark-red, .fa.dark-red {
    color: rgb(185, 0, 0);
}


img.round {
    border-radius: 50%;
}
img.size-100x100 {
    width: 100px;
    height: 100px;
}

.center {
    text-align: center;
}

footer {
    margin-top: 2em;
}

.row img {
    max-width: 100px;
}

a.codenomicon {
    display: block;
    width: 214px;
    height: 95px;
    background: url(/codenomicon.png) top;
    text-indent: -99999px;
    margin: 0 auto;
}
a.codenomicon:hover {
    background-position: bottom;
}

.timestamp {
    color: #999;
    font-size: 0.8em;
}

blockquote {
    font-style: italic;
    border-left: 0px;
    color: #666666;
}
.right {
    text-align: right;
}

@media (min-width: 768px) {
    h1 {
        margin: 1em 0;
        text-align: left;
    }
    .download {
        padding-left: 20px;
        font-size: 0.8em;
    }
    footer {
        margin-top: 4em;
    }
    .glyphicon.big {
        font-size: 15em;
        top: 0px;
    }
    .glyphicon.big {
        font-size: 10em;
        top: -25px;
    }
}

@media (min-width: 992px) {
    body {
        font-size: 2em;
    }
    .container {
        max-width: 970px;
    }
    footer {
        text-align: center;
        font-size: 0.7em;
    }
    hr {
        margin: 3em 0;
    }
    .row img {
        max-width: 100%;
    }
}
