doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title How to drop SVN 

    link(rel='stylesheet', type='text/css', href='build/build.css')
    link(href='http://fonts.googleapis.com/css?family=Open+Sans:300,600', rel='stylesheet', type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css')
    link(href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet")

  body
    mixin icon(name)
      span(class= 'fa ' + name)
  
  
    article    
      section
        h1
          span.grey SVN
          |  → 
          +icon('fa-git-square orange')
          |  → 
          +icon('fa-github green') 
      
      section
        h2 
        ul.nested
          li We will talk about
            ul
              li Immediate benefits of #[+icon('fa-git-square orange')]
              li Benefits of #[+icon('fa-github green')]
              li Transition Plan
              li Homework
              
      section
        img(src="/images/scm-popularity.png")
        a.text-left(href="http://stackoverflow.com/research/developer-survey-2015#tech-sourcecontrol") Source
                
      section
        img(src="images/svn.png")
      
      section
        img(src="images/git.png")    
                  
      section(data-bespoke-state='emphatic background-green')
        h1 Demo
      

    script(src='build/build.js')
