---
layout: default
title: 
---
<div id="home">
  <h1>Posts</h1>
  <ul class="posts">
    {% for post in site.posts %}
      {% unless post.tags contains 'debate' or post.tags contains 'private' %}
        <li><span>{{ post.date | date_to_string }}</span> &raquo; 
        <a href="{{ post.url }}">{{ post.title }}</a> </li>
      {% endunless %}
    {% endfor %}
  </ul>

  <h1>Medium</h1>
  <ul class="posts">
    <li><a href="https://medium.com/@Restuta/how-to-win-and-how-not-to-win-a-hackathon-adfcb548d366">How to win and how not to win a hackathon</a></li>
  </ul>

  <h1>Debates</h1>
  <ul class="posts">
    {% for debate in site.debates %}
      {% unless debate.hidden %}
        <li>
        	<a href="{{ debate.url }}">{{ debate.title }}</a>
        </li>
      {% else %}
        <li class="link-hidden">
          <a href="{{ debate.url }}">{{ debate.title }}</a>
        </li>
      {% endunless %}
    {% endfor %}
  </ul>

  <h1>Slides</h1>
  <ul class="posts">
    <li><a href="/slides/slack/">Slack</a></li>
    <li><a href="/slides/git-svn/">Git Svn</a></li>
    <li><a href="/slides/hackathon-2/">Ingenio Hackathon 2</a></li>
  </ul>
</div>