---
layout: default
title: 
---
<div id="home">
  <h1>Posts</h1>
  <ul class="posts">
    {% for post in site.posts %}
      {% unless post.tags contains 'debate' or post.tags contains 'private' %}
        <li><span>{{ post.date | date_to_string }}</span> &raquo; 
        <a href="{{ post.url }}">{{ post.title }}</a> </li>
      {% endunless %}
    {% endfor %}
  </ul>

  <h1>Debates</h1>
  <ul class="posts">
    {% for debate in site.debates %}
      <li>
      	<a href="{{ debate.url }}">{{ debate.title }}</a>
      </li>
    {% endfor %}
  </ul>

  <h1>Slides</h1>
  <ul class="posts">
    <li>
      <a href="/slides/slack">Slack</a>
    </li>
  </ul>
</div>