// New to Stylus? Check out http://learnboost.github.io/stylus
// Use modern CSS thanks to Autoprefixer: https://github.com/ai/autoprefixer

// Import CSS from "node_modules" and "bower_components"
// thanks to Stylus' "import css" and "paths" options

@import 'prism/themes/prism-twilight.css'
// Check out "bower_components/prism/themes/" for available themes
body
    color: #2D2D2D
    font-family: open sans,helvetica,arial,sans-serif;
    
.bespoke-parent
    background-color: white
.bespoke-slide
    background-color: white
    
img.medium
    width: 500px
    
li
    font-size: 22px
    

.bespoke-backdrop-active
    background-color: #00f3a5
.emphatic-text.bespoke-slide
    background-color: #00f3a5

article.bespoke-parent.green 
    background: #00f3a5
    
.bespoke-before 
    -webkit-transform: translateX(640px) translateX(-320px) rotateY(-20deg) translateX(-320px);
    -moz-transform: translateX(640px) translateX(-320px) rotateY(-20deg) translateX(-320px);
    -o-transform: translateX(640px) translateX(-320px) rotateY(-20deg) translateX(-320px);
    -ms-transform: translateX(640px) translateX(-320px) rotateY(-20deg) translateX(-320px);
    transform: translateX(640px) translateX(-320px) rotateY(-20deg) translateX(-320px);
    
bespoke-after 
    -webkit-transform: translateX(-640px) translateX(320px) rotateY(20deg) translateX(320px);
    -moz-transform: translateX(-640px) translateX(320px) rotateY(20deg) translateX(320px);
    -o-transform: translateX(-640px) translateX(320px) rotateY(20deg) translateX(320px);
    -ms-transform: translateX(-640px) translateX(320px) rotateY(20deg) translateX(320px);
    transform: translateX(-640px) translateX(320px) rotateY(20deg) translateX(320px);


.bespoke-active 
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -webkit-transition-delay: .2s;
    -moz-transition-delay: .2s;
    -o-transition-delay: .2s;
    -ms-transition-delay: .2s;
    transition-delay: .2s;

.bespoke-slide
    -webkit-transition: -webkit-transform .6s ease,opacity .6s ease,background .6s ease;
    -moz-transition: -moz-transform .6s ease,opacity .6s ease,background .6s ease;
    -o-transition: -o-transform .6s ease,opacity .6s ease,background .6s ease;
    -ms-transition: -ms-transform .6s ease,opacity .6s ease,background .6s ease;
    transition: transform .6s ease,opacity .6s ease,background .6s ease;
    -webkit-transform-origin: 50% 50% 0;
    -moz-transform-origin: 50% 50% 0;
    -o-transform-origin: 50% 50% 0;
    -ms-transform-origin: 50% 50% 0;
    transform-origin: 50% 50% 0;
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-box;
    display: -webkit-flex;
    display: box;
    display: flex;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -o-box-orient: vertical;
    -ms-box-orient: vertical;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -o-box-pack: center;
    -ms-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -moz-box-align: center;
    -o-box-align: center;
    -ms-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    text-align: center;
    width: 640px;
    height: 480px;
    position: absolute;
    top: 50%;
    margin-top: -240px;
    left: 50%;
    margin-left: -320px;
    background: 0 0;
    padding: 40px;
    -webkit-border-radius: 0;
    border-radius: 0;

