// New to Stylus? Check out http://learnboost.github.io/stylus
// Use modern CSS thanks to Autoprefixer: https://github.com/ai/autoprefixer

// Import CSS from "node_modules" and "bower_components"
// thanks to Stylus' "import css" and "paths" options

@import 'prism/themes/prism-twilight.css'
// Check out "bower_components/prism/themes/" for available themes
body
    color: #2D2D2D
    font-family: open sans,helvetica,arial,sans-serif;
    
.bespoke-slide
    background-color: white
    
img.medium
    width: 500px
    
li
    font-size: 22px
    
.bespoke-backdrop-active
    background-color: #5BCAF2
.emphatic-text.bespoke-slide
    background-color: #5BCAF2