doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Slack?

    link(rel='stylesheet', type='text/css', href='build/build.css')
    link(href='http://fonts.googleapis.com/css?family=Open+Sans:300,600', rel='stylesheet', type='text/css')
    link(href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet")

  body
    mixin icon(name)
      span(class= 'fa ' + name)

    article

      section
        img.medium(src='images/slack_logo.png')

      section
        h2 <span class="green">Purpose</span> of this talk
        ul
            li <strike>Convince</strike>
            li <strike>Persuade</strike>
            li Explain why I 
              +icon("fa-heart-o red") 
              |  Slack

      section
        h2 "So yeah, we tried Slack ..."
        h3 - <a href="http://sandwichvideo.com/">Sandwich Video team</a>
        iframe(width='560' height='315' src="//www.youtube.com/embed/B6zVzWU95Sw" frameborder='0' allowfullscreen)

      section
        h2 Slack is killing email
        iframe(width='560' height='315' src="//www.youtube.com/embed/MHdYIYe_Dko" frameborder='0' allowfullscreen)    

      section(data-bespoke-state='emphatic background-cyan')
        h2(style="color: rgba(255, 255, 255, 0.5)") They do <span class="orange">amazing</span> things
        iframe(src="//player.vimeo.com/video/114657199" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen)  

      section
        blockquote(style="font-size: 28px;") "All our notifications come into Slack – event logs, errors, code check-ins, sales calls, support requests. It makes it really easy to tell what everyone is working on without meetings and status updates. Now 90% of our internal communication is done through Slack."
        div(style="margin-top: 20px;")
          p <strong>Kristian Reynolds</strong>, Co-Founder, <a href="http://keypay.com.au/" target="new" class="bold">KeyPay</a>

      section
        h2 They use Slack
        img.medium(src="https://slack.global.ssl.fastly.net/17412/img/tour/logos@2x.png")

      section
        img(src="http://img.qz.com/2014/11/slack-growth-chart_colorcorrected.jpeg?w=640")

      section
        h2 But we have <span class="blue">Lync</span>

      section
        h2 Responsive Slides
        h3 Powered by <a href="https://github.com/markdalgleish/bespoke-scale">bespoke-scale</a>

      section
        h2 Bullet List ;)
        h3.bullet Powered by <a href="https://github.com/markdalgleish/bespoke-bullets">bespoke-bullets</a>
        ul
          li Bullet 1
          li Bullet 2
          li Bullet 3

      section
        h2 Syntax Highlighting
        h3 Powered by <a href="http://twitter.com/LeaVerou">Lea Verou</a>'s <a href="https://github.com/LeaVerou/prism">Prism</a>
        pre
          code.language-javascript.
            bespoke.from('article', [
              classes(),
              keys(),
              touch(),
              bullets('li, .bullet')
            ]);

      section(data-bespoke-hash='named-route')
        h2 Named Route
        h3 Powered by <a href="https://github.com/markdalgleish/bespoke-hash">bespoke-hash</a>
        p Look up! This route has been named with a <em>'data-bespoke-hash'</em> attribute.

      section(data-bespoke-state='emphatic background-cyan')
        h2 Emphatic Slide!
        h3 Powered by <a href="https://github.com/markdalgleish/bespoke-backdrop">bespoke-backdrop</a>

      section
        h2.bullet Just the beginning...
        br
        ul
          li Edit <a href="http://jade-lang.com/">Jade</a> markup in <em>'src/index.jade'</em>
          li Edit <a href="http://learnboost.github.io/stylus/">Stylus</a> styles in <em>'src/styles/main.styl'</em>
          li Edit JavaScript in <em>'src/scripts/main.js'</em>
        br
        ul
          li
            strong Enjoy! :)
            a(href='http://twitter.com/markdalgleish')  -@markdalgleish

    script(src='build/build.js')