doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Slack?

    link(rel='stylesheet', type='text/css', href='build/build.css')
    link(href='http://fonts.googleapis.com/css?family=Open+Sans:300,600', rel='stylesheet', type='text/css')
    link(href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet")

  body
    mixin icon(name)
      span(class= 'fa ' + name)

    article

      section
        img.medium(src='images/slack_logo.png')

      section
        h2 Problems started when I got a   
          +icon('fa-envelope-o fa-lg blue') 
          |  from Shree 

      section
        ul.nested
          li.red → problem
            ul
              li why I want to talk about Slack?
              li do I even want to?
              li what is life =) ?
              li will it make anybody happier?

      section
        ul.nested
          li.green → consequences
            ul
              li spent quite some time thinking about it
              li was going back in forth
              li realized that even simple things requre a lot of thinking

      section(data-bespoke-state='emphatic background-green')
        img.medium(src='images/ask-me.png')
        h2(style="color: rgba(255, 255, 255, 0.6)") Ask me how to turn any activity into <span style="color: rgba(255, 255, 255, 1)">self-analyzing</span> <span class="pink">zen</span> process.

      section
        h2 So, is this talk going to make anybody happier?

      section
        h2 What is Happiness?

      section(data-bespoke-state='emphatic background-black') 
        h2 I think it's 
          +icon("fa-heart-o red")

      section
        h2 But first, let's talk about <span class="pink">reasons</span>
        ul
            li Why am I doing this talk?
            li <strike>I want to share my excitement</strike>
            li <strike>I belive Slack is a better way of <span class="cyan">working</span></strike>
            li Because I 
             +icon("fa-heart-o red")
             |  Slack?

      section(data-bespoke-state='emphatic background-pink') 
        h1(style="color: white") No<span style="color:black;">!</span>

      section
        h1 Because I 
          +icon("fa-heart-o red")
          |  you

      section
        h1 And because of that <span class="pink">reason</span>

      section
        h2 <span class="grey">Today *</span> I am <span class="red">not</span> going to 
        ul
          li Comapre Slack to Lync / Email
          li Show you a demo
          li Explain use-cases
          li Show our sub-team's success story
        <span style="font-size: 15px; text-align: left;" class="grey"> * will do it in 2015 </span>

      section(data-bespoke-state='emphatic background-blue')
        h2 And <span class="red">never</span> going to 
          ul
            li Convince you
            li Persuade you
            li Deicide if you should use it
            li Decide if <span class="blue">Ingenio</span> should use it

      section
        h2 Instead
        h3 We will have 20 mins of fun together

      section(data-bespoke-state='emphatic background-mellow')
        h2.black(style="margin-bottom: 20px;") <span style="opacity: 0.8;">Anyway it's almost</span> <span class="green">Xmas</span>
        img(style="width: 400px; height: 400px;" src="http://media.giphy.com/media/HGyncAYumiU4o/giphy.gif")

      section
        h2 "So yeah, we tried Slack ..."
        h3 - <a href="http://sandwichvideo.com/">Sandwich Video team</a>
        iframe(width='560' height='315' src="//www.youtube.com/embed/B6zVzWU95Sw" frameborder='0' allowfullscreen)

      section
        h2 Slack is killing email
        iframe(width='560' height='315' src="//www.youtube.com/embed/MHdYIYe_Dko" frameborder='0' allowfullscreen)    

      section(data-bespoke-state='emphatic background-cyan')
        h2(style="color: rgba(255, 255, 255, 0.5)") They do <span class="orange">amazing</span> things
        iframe(src="//player.vimeo.com/video/114657199" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen)  

      section(data-bespoke-state='emphatic background-red') 
        h2.white More FYIs

      section
        img(src="http://img.qz.com/2014/11/slack-growth-chart_colorcorrected.jpeg?w=640")

      section
        h2 They use Slack
        img.medium(src="https://slack.global.ssl.fastly.net/17412/img/tour/logos@2x.png")

      section 
        h2 Flickr co-founder is behind
        h3 Stewart Butterfield
        div
          img(style="width:200px; height:auto;")(src="http://upload.wikimedia.org/wikipedia/commons/9/9a/Stewart_b.jpg")

      section
        img.medium(src="images/raising.png")
        h3 techcrunch.com

      selection(data-bespoke-state='emphatic background-black') 
        | Remember
        h2
          | Happiness is 
          +icon("fa-heart-o red")
          

      section(data-bespoke-state='emphatic background-cyan')
        h1 Slack is not 
          +icon("fa-heart red")
        h1 but it's  
          +icon("fa-thumbs-o-up blue")


    script(src='build/build.js')