doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title How to drop SVN 

    link(rel='stylesheet', type='text/css', href='build/build.css')
    link(href='http://fonts.googleapis.com/css?family=Open+Sans:300,600', rel='stylesheet', type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css')
    <link href='https://fonts.googleapis.com/css?family=Josefin+Slab:400,700,300,600,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Lato:400,100,300,700,900' rel='stylesheet' type='text/css'>
    link(href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet")

- var testVariable = "this is a variable"
  body
    mixin icon(name)
      span(class= 'fa ' + name)
  
  
    article    
      section
        h1.title.secondary Team <span class="green primary">Mutant</span> presents
        h2
      
      section(data-bespoke-state='emphatic background-cyan')
        h1 Reffo
      
      section
        img(src="images/01a-advisors.jpg")
      
      section
        img(src="images/01b-advisors.jpg")
      
      section
        img(src="images/02-advisors.png")
      
      section
        img(src="images/sweet.jpg")
          
      section
        h2 Advisors who get 
        h2 2-3 calls per day are our <span class="green">Sweet Spot</span>
        
      section
        h1.light Why <span class="primary green">SWEET?</span>
      
          
      section(data-bespoke-state='emphatic background-pink')
        h1.black #[+icon('fa-dollar')] #[+icon('fa-dollar')] #[+icon('fa-dollar')]
        h1.white Eager

      section(data-bespoke-state='emphatic background-black')
        h1.blak #[+icon('fa-thumbs-up gold')] #[+icon('fa-thumbs-up gold')] #[+icon('fa-thumbs-up gold')] #[+icon('fa-thumbs-up gold')] #[+icon('fa-thumbs-up  opacity-5')]
        h1.white Good
        h3.light And don't know about it
        
      section
        h1 How good?
        
      section
        img(src="images/9x-more.jpg")
      
      section(data-bespoke-state='emphatic background-green')
        h1.black #[+icon('fa-calendar-check-o')]
        h1.white Available        
      
      section(data-bespoke-state='emphatic background-yellow')
        h1 #[+icon('fa-smile-o')]
        h1 Can handle more calls
      
      section
        h2.pink S
        h2.green(style="opacity: 0.9;") SWT
        h2.green(style="opacity: 0.7;") SWEET
        h2.green(style="opacity: 0.6;") SWEEEET
        h2.green(style="opacity: 0.5;") SWEEEEEET
        h2.green(style="opacity: 0.4;") SWEEEEEEEET
        h2.green(style="opacity: 0.3;") SWEEEEEEEEEET  
        
      section
        h1.title Let's talk about <span class="bright-blue">Users</span>
      
      section
        h2.light 1000 visitors
        h4(style="font-size: 12px") 
          - for (var i = 0; i < 1000; ++i) {
              #[+icon('fa-meh-o opacity-7')] 
          - }
        
      section
        h2.light 1000 visitors
        //- h4.light.bright-blue(style=" position: absolute; left: 41px; top: 80px;") 1.5% conversion
        h4(style="font-size: 12px") 
          - for (var i = 0; i < 1000; ++i) {
            - if (i < 5 || i > 43 && i < 49 || i > 87 && i < 93) {
              #[+icon('fa-smile-o deep-black')] 
            - } else {
              #[+icon('fa-meh-o opacity-2')] 
            - }  
          - }
          
      section
        h2.light.opacity-1 1000 visitors
        h4.deep-black(style=" position: absolute; left: 41px; top: 75px;") 1.5% conversion
        h4(style="font-size: 12px") 
          - for (var i = 0; i < 1000; ++i) {
            - if (i < 5 || i > 43 && i < 49 || i > 87 && i < 93) {
              #[+icon('fa-smile-o deep-black')] 
            - } else {
              #[+icon('fa-meh-o opacity-2')] 
            - }  
          - }   
      
      section
        img(src="images/usr-persp.jpg") 
      
      section
        img(src="images/usr-persp2.jpg") 
      
      section
        img(src="images/our-users.jpg") 
      
      section
        h1 We are targeting <span class="bright-blue lato">1%</span> of Web Visitors
        
      section
        img(src="images/marry-0.jpg") 

      section
        img(src="images/marry-1.jpg") 
        
      section
        img(src="images/marry-2.jpg") 
        
      section
        img(src="images/marry-3.jpg") 
        
      section
        img(src="images/marry-4.jpg") 
        
      section
        h2 RECAP
        ul.nested
          li
            ul
              li we don't disturb TOP performers
              li we make <span class="green">Sweet Advisors</span> sweeter
              li we target new category of <span class="bright-blue">Users</span>
              li we marry the two

      section(data-bespoke-state='emphatic background-red')
        h1 But how?
        
      section(data-bespoke-state='emphatic background-cyan')
        h1 We revert Offers 
        h1.yellow #[+icon('fa-anchor fa-rotate-180')]
        
      
      section(data-bespoke-state='emphatic background-deep-black')
        h1 DEMO 
          img(src="images/glass-wine.jpeg")
      
      section
        ul.nested
          li Today on Keen
            ul
              li $2.99 (expensive)
              li No-limit (scared)
              li PPM only 
            
    script(src='build/build.js')
