<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8' />
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1" />

    {% unless page.title %} <!-- if home page -->
      <meta name="description" content="Anton Vynogradenko's (Restuta) personal blog" />
    {% else %}
      <meta name="description" content="{{ page.title }}" />
    {% endunless %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="/javascripts/mousetrap.min.js"></script>
    <script src="/javascripts/main.js"></script>

    <link rel="stylesheet" type="text/css" media="screen" href="/css/stylesheet.css">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,400,300,600,700,800&subset=cyrillic-ext,latin" rel="stylesheet" type="text/css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

    {% unless page.title %} <!-- if home page -->
      <title>Anton Vynogradenko's personal blog</title>
    {% else %}
      <title>{{ page.title }}</title>
    {% endunless %}

  </head>

  <body>
    <!-- HEADER -->
    <div id="header_wrap" class="outer">
        <header class="inner">

          {% unless page.title %} <!-- if home page -->
            <a id="forkme_banner" class="opacity50 fork-me" href="https://twitter.com/Restuta">Anton Vynogradenko
              <span class="fa fa-twitter" aria-hidden="true"></span>
            </a>
            <span id="project_title" class="home-title">
              <span id="http-prefix" class="">http://</span><span>restuta</span><span id="me-domain">.me</span>
            </span>
          {% else %}
            <a id="forkme_banner" class="opacity50 fork-me" href="/">restuta.me</a>
            <h1 id="project_title" class="post-title">{{ page.title }}</h1>
          {% endunless %}

          {% if page.tags %}
            <h2 id="project_tagline">#{{ page.tags | join:' #' }}</h2>
          {% endif %}
        </header>
    </div>

    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">
         {{ content }}
      </section>
    </div>

    {% if page.title %} <!-- if NOT home page -->
    <!-- FOOTER  -->
    <div id="footer_wrap" class="outer">
      <footer class="inner">
        <p>Anton Vynogradenko<br />
          restuta8@gmail.com</p>
      </footer>
    </div>
    {% endif %}
  </body>
</html>
